WebApplication.Service/Service References/ServiceEmployee/ServiceEmployees1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cape.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cape.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Employee_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firts_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total_Labor" type="xs:decimal" />
      <xs:element minOccurs="0" name="TypeContract" nillable="true" type="tns:TypeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="TypeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TypeContract" nillable="true" type="tns:TypeContract" />
</xs:schema>